
{% extends 'base/base.html' %}


{% load static %}
		

{% block content %}
  

		<!-- main-news-slider
			================================================== -->
		<section class="main-news-slider">
			<ul class="main-slider" >
				
				{% for slide in recent %}
				<li>
					<div class="news-post image-post2">
						<div class="post-gallery">
							<img src="{{ slide.image.url }}" alt="">
							<div class="hover-box">
								<div class="inner-hover">
									<a class="category-post" href="#">{{ slide.categorie }}</a>
									<h2><a href="{% url 'single' slide.id %}">{{ slide.titre }}</a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>{{ slide.date_add|date:'D M Y' }}</li>
										<li><i class="fa fa-user"></i>by <a href="{% url 'single' slide.id %}">{{ slide.auteur }}</a></li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>0</span></a></li>
										<li><i class="fa fa-eye"></i>872</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}

			</ul>
			<div class="custom-slider-arrows">
				<div class="container">
					<div id="slider-prev"></div>
					<div id="slider-next"></div>
				</div>
			</div>
		</section>
		<!-- End main-news-slider -->

		<!-- features-today-section
			================================================== -->

		<!-- End features-today-section -->

		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">
			<div class="container">
				<div class="row">

					<div class="col-md-2 col-sm-0">

						<!-- sidebar -->
						<div class="sidebar small-sidebar">


							<div class="advertisement">
								<div class="desktop-advert">
									<span>Advertisement</span>
									<img src="{% static 'upload/addsense/160x600.jpg' %}" alt="">
								</div>
							</div>

							<div class="widget categories-widget">
								<div class="title-section">
									<h1><span>Hot Categories</span></h1>
								</div>
								<ul class="category-list">
									
									{% for list in categorie  %}
									<li>
										<a href="#">{{ list.nom }} <span>{{ list.categorie_Article.all|length }}</span></a>

									</li>
									{% endfor %}
									
								</ul>
							</div>

						</div>

					</div>

					<div class="col-md-7 col-sm-8">

						<!-- block content -->
						<div class="block-content">

							<!-- carousel box -->
							<div class="carousel-box owl-wrapper">

								<div class="title-section">
									<h1><span>Trending</span></h1>
								</div>

								<div class="owl-carousel" data-num="2">
								
									<div class="item">
										{% for article in articles  %}
											<div class="news-post image-post2">
												<div class="post-gallery">
													<img src="{{ article.image.url }}" alt="">
													<div class="hover-box">
														<div class="inner-hover">
															<a class="category-post" href="{% url 'single' article.id %}">{{ article.categorie }}</a>
															<h2><a href="{% url 'single' article.id %}">{{ article.titre }}</a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-clock-o"></i>{{ article.date_add|date:"D M Y" }}</li>
																<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
										
										
									</div>
								
									<div class="item">
										{% for article in articles  %}
											<div class="news-post image-post2">
												<div class="post-gallery">
													<img src="{{ article.image.url }}" alt="">
													<div class="hover-box">
														<div class="inner-hover">
															<a class="category-post" href="#">{{ article.categorie }}</a>
															<h2><a href="#">{{ article.titre }}</a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-clock-o"></i>{{ article.date_add|date:"D M Y" }}</li>
																<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								
									<div class="item">
										{% for article in articles  %}
											<div class="news-post image-post2">
												<div class="post-gallery">
													<img src="{{ article.image.url }}" alt="">
													<div class="hover-box">
														<div class="inner-hover">
															<a class="category-post" href="{% url 'single' article.id %}">{{ article.categorie }}</a>
															<h2><a href="{% url 'single' article.id %}">{{ article.titre }}</a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-clock-o"></i>{{ article.date_add|date:"D M Y" }}</li>
																<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>

								</div>

							</div>
							<!-- End carousel box -->

							<!-- google addsense -->
							<div class="advertisement">
								<div class="desktop-advert">
									<span>Advertisement</span>
									<img src="{{ presentation.image.url }}" alt="">
								</div>
								<div class="tablet-advert">
									<span>Advertisement</span>
									<img src="{{ presentation.image.url }}" alt="">
								</div>
								<div class="mobile-advert">
									<span>Advertisement</span>
									<img src="{{ presentation.image.url }}" alt="">
								</div>
							</div>
							<!-- End google addsense -->

							<!-- grid box -->
							
							<!-- End grid box -->

							<!-- article box -->
							<div class="article-box" id="app">
								<div class="title-section">
									<h1><span>Latest Articles</span></h1>
								</div>
								
								<div class="news-post article-post" v-for="article in order" :key="article.id">
									<div class="row">
										<div class="col-sm-6">
											<div class="post-gallery">
												<img alt="" v-bind:src="article.image">
												<div class="hover-box">
													<a href="{% comment %}{% url 'single' article.id %}{% endcomment %}"><i class="fa fa-link"></i></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="post-content">
												<a class="category-post" href="{% comment %}{% url 'single' article.id %}{% endcomment %}">${ article.categorie }</a>
												<h2><a href="{% comment %}{% url 'single' article.id %}{% endcomment %}">${ article.description }</a></h2>
												<ul class="post-tags">
													{% comment %}	<li><i class="fa fa-clock-o"></i>${ article.date_update|date:'D M Y' }$</li>{% endcomment %}
													<li><i class="fa fa-user"></i>by <a href="#">${ article.auteur }</a></li>
													<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
													<li><i class="fa fa-eye"></i>872</li>
												</ul>
												<span class="post-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
								
								
									
								
									

							</div>
							<!-- End article box -->

						</div>
						<!-- End block content -->

					</div>

					<div class="col-md-3 col-sm-4">

						<!-- sidebar -->
						<div class="sidebar large-sidebar">

							<div class="widget social-widget">
								{% include 'include/social.html' %}
							</div>


							{% include "include/recent.html" %}


						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

		<!-- feature-video-section 
			================================================== -->
		{% include 'include/gallerie.html' %}
		<!-- End feature-video-section -->

	{% endblock content %}


	{% block vues %}
	<script>
		app = new Vue({
			el:"#app",
			data:
			{
				order:[],
				base_url:window.location.protocol + "//" + window.location.host,
						
			},
			delimiters:["${ ", " }"],

			mounted (){
				this.getOrder()
			},

			methods: {
				getOrder: function (){
					
						axios.get(this.base_url + "/api/article/?format=json")
						  .then(response => (this.order = response.data))
					  }

				}
			
			
		})
	</script>  

	{% endblock vues %}