<div class="widget tab-posts-widget">

    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a href="#option1" data-toggle="tab">Recent</a>
        </li>
        
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="option1">
            <ul class="list-posts">
                {% for blog in recent %}
                    <li>
                        <img src="{{ blog.image.url }}" alt="">
                        <div class="post-content">
                            <h2><a href="{% url 'single' blog.id %}">{{ blog.titre }} </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>{{ blog.date_add|date:'D M Y' }}</li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            
            </ul>
        </div>

    </div>
</div>